<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Svarozhits</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="/assets/styles.min.css">
    <script src="/assets/htmx.min.js"></script>
</head>

<body class="antialiased dark:bg-slate-900 dark:text-slate-400">
    <div class="m-auto max-w-6xl p-6">
        {% block main %}{% endblock %}
    </div>
</body>

</html>
