{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block main %}
{% for task in tasks %}
<article hx-confirm="Are you sure?" hx-target="this" hx-swap="outerHTML swap:1s">
    <p>{{ task.task_value }}</p>
    <p>
        <a href="#" role="button" hx-put="/tasks/{{ task.task_id }}">DONE</a>
        <a href="#" role="button" hx-delete="/tasks/{{ task.task_id }}">DELETE</a>
    </p>
</article>
{% endfor %}
<form action="/tasks" method="post">
    <input type="text" id="task_value" name="task_value">
    <input type="submit" value="ADD">
</form>
{% endblock %}
