{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block main %}
<div class="bg-slate-200 dark:bg-slate-800 m-2 p-4 rounded-lg">
    <form hx-post="/tasks" autocomplete="off">
        <input type="text" name="task_value" placeholder="task" required
            class="bg-gray-100 dark:bg-gray-700 m-1 px-4 py-2 rounded-lg text-2xl text-center w-full">
        <button type="submit"
            class="bg-blue-600 hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-700 m-1 px-4 py-2 rounded-lg text-center text-white">ADD</button>
    </form>
</div>
{% for task in tasks %}
{% include "task.html" %}
{% endfor %}
{% endblock %}
