{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block main %}
<div class="dark:bg-slate-800 m-2 p-4 rounded-lg">
    <form action="/tasks" method="post">
        <input type="text" name="task_value" required
            class="dark:bg-gray-700 m-1 px-4 py-2 rounded-lg text-2xl text-center w-full">
        <button type="submit"
            class="dark:bg-blue-600 dark:hover:bg-blue-700 m-1 px-4 py-2 rounded-lg text-center text-white">ADD</button>
    </form>
</div>
{% for task in tasks %}
<div class="dark:bg-slate-800 m-2 p-4 rounded-lg">
    <p class="break-all dark:text-sky-400 m-1 text-2xl">{{ task.task_value }}</p>
    <button type="button" hx-put="/tasks/{{ task.task_id }}" hx-confirm="Mark as done?" hx-target="closest div"
        hx-swap="outerHTML swap:1s"
        class="dark:bg-blue-600 dark:hover:bg-blue-700 m-1 px-4 py-2 rounded-lg text-center text-white">DONE</button>
    <button type="button" hx-delete="/tasks/{{ task.task_id }}" hx-confirm="Delete?" hx-target="closest div"
        hx-swap="outerHTML swap:1s"
        class="dark:bg-blue-600 dark:hover:bg-blue-700 m-1 px-4 py-2 rounded-lg text-center text-white">DELETE</button>
</div>
{% endfor %}
{% endblock %}
