<div class="bg-slate-200 dark:bg-slate-800 m-2 p-4 rounded-lg">
    <p class="break-words text-sky-500 dark:text-sky-400 m-1 text-2xl">{{ task.task_value }}</p>
    <button type="button" hx-patch="/tasks/{{ task.task_id }}" hx-confirm="Mark as done?" hx-target="closest div"
        hx-swap="outerHTML swap:1s"
        class="bg-blue-600 hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-700 m-1 px-4 py-2 rounded-lg text-center text-white">DONE</button>
    <button type="button" hx-delete="/tasks/{{ task.task_id }}" hx-confirm="Delete?" hx-target="closest div"
        hx-swap="outerHTML swap:1s"
        class="bg-blue-600 hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-700 m-1 px-4 py-2 rounded-lg text-center text-white">DELETE</button>
</div>
