{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content%}
<table>
    <thead>
        <tr>
            <th>Status</th>
            <th>Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
        {% for task in tasks %}
        <tr>
            <td>{% if task.task_status == 0 %}Not done{% else %}Done{% endif %}</td>
            <td>{{ task.task_value }}</td>
            <td><button class="btn btn-danger" hx-delete="/tasks/{{ task.task_id }}">Delete </button> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="/tasks" method="post">
    <input type="text" id="task_value" name="task_value" />
    <input type="submit" value="submit" />
</form>
{% endblock %}
